body {
    background: gainsboro;
    margin: 0 auto;
    max-width: 720px;
    position: relative;
}

menu {
    margin: 0;
    max-width: 720px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
