body {
    background: #F1F1EF;
    color: #202020;
    font: 0.9em sans-serif;
    letter-spacing: 0.03em;
    margin: auto;
    max-width: 768px;
}

img, audio, video {
    width: 100%;
}

img {
    display: block;
}

a {
    color: #0051FF;
}

a:visited {
    color: #434E7F;
}

h1 {
    font-size: 1em;
}

header h1 {
    margin-bottom: 0;
}

article > h1 {
    margin: 0.2em auto 4em auto;
}

article p:last-child, article > section:last-child {
    margin-bottom: 4em;
}

article > section:first-child {
    margin-top: 4em;
}

section {
    margin: 2em auto;
}

section p {
    margin: 0.2em auto;
}

@media (pointer: fine) {
    header, article, footer {
        margin: auto 10px;
    }
}

@media (pointer: coarse) {
    header, article, footer {
        margin: auto 8px;
    }
}