* {
    -webkit-text-size-adjust: none;
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(252, 252, 252);
    color: rgb(29, 29, 29);
    font: 22px Helvetica, sans-serif;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 32px auto;
    max-width: 768px;
}

a {
    border-bottom: 2px solid;
    color: inherit;
    text-decoration: none;
    outline: none;
}

img, audio, video {
    width: 100%;
}

img {
    display: block;
}

h1 {
    font-weight: normal;
    font-size: 1em;
}

header, footer, menu {
    margin: 0 48px;
}

main h1 {
    margin: 16px 48px 32px 48px;
}

main ul {
    margin-top: 32px
}

main p {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 12px 48px;
    padding: 1px 0;
}

main figure + figure, main li + li {
    margin-top: 8px;
}

menu {
    margin: 48px;
}

menu li {
    margin: 18px 0;
}

menu li a, menu li span {
    background: rgba(29, 29, 29, 0.2);
    border: 2px solid rgba(29, 29, 29, 0.0);
    color: inherit;
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    padding: 5px 6px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

menu li a:hover, menu li span {
    background: none;
    border-color: rgba(29, 29, 29, 0.9);
}

footer p {
    padding-bottom: 8px;
}

footer a {
    border-color: rgba(29, 29, 29, 0.3);
}

footer a:hover {
    border-color: inherit;

}

@media (max-width: 568px) {
    body {
        font-size: 18px;
        letter-spacing: 1px;
        margin: 18px auto;
    }
    
    a {
        border-bottom: 1px solid;
    }
    
    header, footer, menu {
        margin: 0 18px;
    }
    
    main h1 {
        margin: 8px 18px 24px 18px;
    }
    
    main p {
        font-size: 14px;
        margin: 8px 18px;
        padding: 1px 0;
    }
    
    main figure + figure {
        margin-top: 6px;
    }
    
    menu {
        margin: 32px 18px;
    }
    
    menu li {
        margin: 11px 0;
    }
    
    menu li a, menu li span {
        border-width: 1px;
        padding: 4px;
    }
}