:root {
    --background: rgb(251, 251, 247);
    --color: rgb(44, 44, 44);
    --figure: rgba(99, 99, 99, 0.1);
    --link: rgb(5, 115, 225);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(25, 25, 28);
        --color: rgb(242, 242, 242);
    }
}

* {
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:active {
    opacity: 0.5;
}

body {
    background: var(--background);
    color: var(--color);
    font: 16px ui-sans-serif, sans-serif;
    letter-spacing: 0.05em;
    margin: 0 auto;
    max-width: 630px;
    padding: 16px 11px calc(32px + env(safe-area-inset-bottom)) 11px;
    position: relative;
}

@media (max-width: 420px) {
    body {
        padding-left: 8px;
        padding-right: 8px;
    }
}

figure {
    background: var(--figure);
    border-radius: 7px;
    margin: 24px 0;
    overflow: hidden;
}

figure a figcaption {
    color: var(--color);
}

figure a figcaption b {
    color: var(--link);
}

figure figcaption {
    font-size: 14px;
    opacity: 0.95;
    padding: 12px;
}

figure figcaption b {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
}

figure img {
    display: block;
    width: 100%;
}

figure span {
    display: block;
    overflow: hidden;
    position: relative;
}

figure > span {
    border: 1px solid var(--figure);
    border-radius: 7px;
}

header h1 {
    font-size: 16px;
}

iframe {
    border: 0;
    display: block;
    height: 630px;
    width: 100%;
}

main {
    margin: 24px 0;
}

main h1 {
    font-size: 24px;
}

main h2 {
    font-size: 18px;
    margin-top: 4px;
    opacity: 0.6;
}

main p {
    margin: 24px 0;
}

span img:first-child {
    display: inherit;
}

span img:last-child {
    display: none;
}

@media (prefers-color-scheme: dark) {
    span img:first-child {
        display: none;
    }
    
    span img:last-child {
        display: inherit;
    }
}