:root {
    --background: rgb(241, 241, 241);
    --border: rgba(102, 102, 102, 0.25);
    --radius: 5px;
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(37, 37, 37);
    }
}

* {
    margin: 0;
}

audio, img, table, video {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid var(--border);
    margin: 0 3px;
    padding: 0 15px;
}

body, dialog {
    margin: 1.5em auto;
}

body {
    font: 15px ui-sans-serif, sans-serif;
    max-width: 512px;
    padding: 0 11px;
}

@media (max-width: 512px) {
    body {
        padding: 0 8px;
    }
}

caption, figcaption, label, legend, small, th {
    font-size: 0.85em;
    opacity: 0.8;
}

caption, figcaption, pre, td, th {
    padding: 0.25em 8px;
    text-align: left;
}

code {
    padding: 1px 5px 3px 5px;
}

code, fieldset, figure, legend, iframe, pre, td, th {
    background: var(--background);
}

code, fieldset, figure, legend, iframe, pre {
    border-radius: var(--radius);
}

details {
    margin: 1em 3px;
}

fieldset, figure, hr, ol, p, pre, table, ul {
    margin: 1em 0;
}

fieldset, legend {
    border: 0;
    padding: 0 8px;
}

figure {
    overflow: hidden;
}

figure, audio, figure img, figure video {
    display: block;
}

figure#portfolio {
    box-shadow: 0 0 1px 1px var(--border) inset;
}

figure#portfolio, figure#portfolio div {
    overflow-x: scroll;
}

figure#portfolio h1 {
    font-size: 1.17em;
    margin: 5px 11px -5px 11px;
}

figure#portfolio img {
    border-radius: calc(var(--radius) * 0.75);
}

figure#portfolio table {
    margin: 0;
    max-width: initial;
    width: 225%;
}

figure#portfolio td {
    background: none;
}

figure#portfolio td:first-child {
    width: 22%;
}

footer {
    margin-top: 2.5em;
}

h1, h2, h3, h4, h5, h6, li {
    margin: 0.05em 0;
    opacity: 0.9;
}

header {
    margin-bottom: 2em;
}

header h1 {
    font: inherit;
}

hr {
    opacity: 0.5;
}

iframe {
    border: none;
    width: 100%;
}

ol, ul {
    padding-left: 25px;
}

pre {
    overflow: auto;
}

table {
    caption-side: bottom;
}

time {
    font: 1em ui-monospace, monospace;
    opacity: 0.75;
}

tr:first-child :first-child {
    border-top-left-radius: var(--radius);
}

tr:first-child :last-child {
    border-top-right-radius: var(--radius);
}

tr:last-child :first-child {
    border-bottom-left-radius: var(--radius);
}

tr:last-child :last-child {
    border-bottom-right-radius: var(--radius);
}

@media print {
    :root {
        --background: rgba(0, 0, 0, 0);
    }
    
    a, blockquote, figure, pre, table {
        page-break-inside: avoid;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a[href^="http"]:after {
        content: "<" attr(href) ">";
        font-size: 0.85em;
    }
    
    a.action {
        display: block;
    }
    
    body, td {
        filter: grayscale(1);
    }
    
    body {
        font-size: 7pt;
        margin: 0;
        max-width: 320pt;
    }
    
    img[src^="action-download"], img[src^="action-print"] {
        display: none;
    }
    
    img[src^="action-"] {
        height: 15pt;
        margin: 3pt 1pt -1.5pt 0;
    }
}