:root {
    -webkit-text-size-adjust: none;
    color-scheme: light dark;
}

* {
    margin: 0;
}

@media print {
    a {
        color: inherit;
        text-decoration: none;
    }
}

body {
    font: 1em ui-sans-serif, sans-serif;
}

@media print {
    body {
        font-size: 11px;
    }
}

iframe {
    border: 0;
}

span.dark img:last-child {
    display: none;
}

@media (prefers-color-scheme: dark) {
    span.dark img:first-child {
        display: none;
    }
    
    span.dark img:last-child {
        display: inherit;
    }
}