:root {
    --background: rgb(241, 241, 241);
    --border: rgba(102, 102, 102, 0.25);
    --radius: 3.5px;
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(37, 37, 37);
    }
}

* {
    margin: 0;
}

audio, img, table, video {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid var(--border);
    margin: 0 3px;
    padding: 0 15px;
}

body, dialog {
    margin: 1.5em auto;
}

body {
    font: 15px ui-sans-serif, sans-serif;
    line-height: 1.35em;
    max-width: 640px;
    padding: 0 11px;
    position: relative;
}

@media (max-width: 512px) {
    body {
        padding: 0 8px;
    }
}

caption, figcaption, label, legend, small, th {
    font-size: 0.85em;
    opacity: 0.8;
}

caption, figcaption, pre, td, th {
    padding: 0.25em 8px;
    text-align: left;
}

code {
    padding: 1px 5px 3px 5px;
}

code, fieldset, figure, legend, iframe, pre, td, th {
    background: var(--background);
}

code, fieldset, figure, legend, iframe, pre {
    border-radius: var(--radius);
}

details {
    margin: 1em 3px;
}

fieldset, figure, hr, ol, p, pre, table, ul {
    margin: 1em 0;
}

fieldset, legend {
    border: 0;
    padding: 0 8px;
}

figure {
    overflow: hidden;
}

figure, audio, figure img, figure video {
    display: block;
}

figure#portfolio {
    box-shadow: 0 0 1px 1px var(--border) inset;
    margin: 1.5em 0;
    position: relative;
}

figure#portfolio, figure#portfolio div {
    overflow: scroll hidden;
}

figure#portfolio h1 {
    bottom: 7px;
    font-size: 1.17em;
    left: 15px;
    position: absolute;
}

figure#portfolio table {
    margin: 0;
    max-width: initial;
    width: 225%;
}

figure#portfolio img {
    border-radius: calc(var(--radius) * 0.75);
}

figure#portfolio td {
    background: none;
    position: relative;
}

figure#portfolio td:first-child {
    left: 1%;
    transform: rotate(1.5deg);
    width: 21%;
}

figure#portfolio td:last-child {
    transform: rotate(-1deg);
    right: 1%;
}

footer {
    margin-top: 2.5em;
}

h1, h2, h3, h4, h5, h6, li {
    margin: 0.1em 0;
}

header {
    margin-bottom: 2em;
}

header h1 {
    font: inherit;
}

hr {
    opacity: 0.5;
}

iframe {
    border: none;
    width: 100%;
}

img[src$=".svg"] {
    display: inline-block;
    position: relative;
    transform: rotate(-1deg);
    vertical-align: middle;
}

img[src$="-download.svg"] {
    bottom: 32px;
    left: 8px;
    transform: rotate(1deg);
}

img[src="clone.svg"] {
    bottom: 32px;
    right: 21px;
    transform: rotate(3deg);
}

img[src="hire.svg"] {
    position: absolute;
    right: 10%;
    top: 0.5em;
    transform: rotate(-11deg);
    z-index: 99;
}

img[src="download.svg"] {
    transform: rotate(-1.5deg);
}

img[src="print.svg"] {
    right: 11px;
    transform: rotate(2deg);
}

ol, ul {
    padding-left: 25px;
}

pre {
    overflow: auto;
}

table {
    caption-side: bottom;
}

time {
    font: 0.9em ui-monospace, monospace;
    opacity: 0.75;
}

tr:first-child :first-child {
    border-top-left-radius: var(--radius);
}

tr:first-child :last-child {
    border-top-right-radius: var(--radius);
}

tr:last-child :first-child {
    border-bottom-left-radius: var(--radius);
}

tr:last-child :last-child {
    border-bottom-right-radius: var(--radius);
}

@media print {
    :root {
        --background: rgba(0, 0, 0, 0);
    }
    
    a, blockquote, figure, pre, table {
        page-break-inside: avoid;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a[href^="http"]:after {
        content: "<" attr(href) ">";
    }
    
    a[href^="javascript:"] {
        display: none;
    }
    
    a.action {
        display: block;
    }
    
    body, td {
        filter: grayscale(1);
    }
    
    body {
        font-size: 9pt;
    }
    
    figure#portfolio, figure#portfolio div {
        box-shadow: none;
        overflow: none;
        page-break-after: always;
    }
    
    figure#portfolio table {
        width: 50%;
    }
    
    figure#portfolio td {
        display: block;
        position: relative;
    }

    figure#portfolio td:first-child {
        top: 25pt;
        width: 180pt;
    }
    
    figure#portfolio td:nth-child(2) {
        left: 55pt;
        width: 240pt;
    }
    
    figure#portfolio td:last-child {
        left: 20pt;
        width: 160pt;
    }
}