            <article>
                <h1>Cart</h1>
            </article>
            <section class="shop">{% if cart.items != blank %}
                <form method="post" action="/cart" id="cart_form">
                    <table>{% for item in cart.items %}
                        <tr>
                            <td colspan="7"><a href="{{ item.product.url }}">{{ item.product.name }}</a></td>
                        </tr>
                        <tr>
                            <td>{% unless item.product.has_default_option %}{{ item.option.name }}{% endunless %}</td>
                            <td></td>
                            <td><input type="tel" name="cart[update][{{ item.id }}]" value="{{ item.quantity }}"></td>
                            <td></td>
                            <td>${{ item.price | money }}</td>
                            <td></td>
                            <td><input type="submit" value="Update"></td>
                        </tr>
                        <tr>
                            <td colspan="7"><hr></td>
                        </tr>{% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>${{ cart.total | money }}</b></td>
                            <td></td>
                            <td><input type="submit" name="checkout" value="Checkout"></td>
                        </tr>
                    </table>
                </form>{% else %}
                <script>

                    window.location.href = "http://toddheasley.github.io";

                </script>{% endif %}
            </section>
