            <article>
                <h1>{{ product.name }}</h1>
                <h2>${{ product.default_price | money }}</h2>
                <figure><a href="{{ product.image | product_image_url | constrain: 1680, 1680 }}"><img src="{{ product.image | product_image_url | constrain: 1680, 1680 }}"></a></figure>
                <p>{{ product.description }}</p>
            </article>{% if product.status == 'active' %}
            <section class="shop">
                <form method="post" action="/cart">{% if product.has_default_option %}
                    <table>
                        <tr>
                            <td>{{ product.option | hidden_option_input }}<input type="submit" value="Buy"></td>
                        </tr>
                    </table>{% else %}
                    <table>
                        <tr>
                            <td><span class="select">{{ product.options_in_stock | options_select }}</span></td>
                            <td></td>
                            <td><input type="submit" value="Buy"></td>
                        </tr>
                    </table>{% endif %}
                </form>
            </section>{% endif %}
